worker_processes ${WORKER_PROCESSES};

events {
  worker_connections ${WORKER_CONNECTIONS};
}

http {
  include mime.types;

  # Timeout settings
  send_timeout ${SEND_TIMEOUT};
  client_body_timeout ${CLIENT_BODY_TIMEOUT};
  client_header_timeout ${CLIENT_HEADER_TIMEOUT};
  keepalive_timeout ${KEEPALIVE_TIMEOUT};

  server {
    listen ${PROXY_PORT};

    access_log /dev/stdout;
    error_log  /dev/stderr;

    map $request_port $allow_port {
        443            1;
        563            1;
    }

    # map $host $allow_host {
    #     hostnames;

    #     example.org    1;
    #     *.example.org  1;
    # }

    resolver ${RESOLVER} ipv6=${RESOLVER_IPV6} valid=${RESOLVER_TIMEOUT};

    if ($allow_port != 1) {
        return 502;
    }

    # if ($allow_host != 1) {
    #     return 502;
    # }

    tunnel_pass;
  }
}
